*__pycache__
.DS_Store

tmp 
case
output 
bak 
*.log 

ref

# mockturtle
tools/mockturtle/build
tools/mockturtle/build-*
tools/mockturtle/.vscode/
tools/mockturtle/**/*~
tools/mockturtle/**/.DS_Store
tools/mockturtle/docs/_build
tools/mockturtle/docs/doxyxml

# abc
tools/abc/abc

# Compile 
build
dist 
solver
*.spec
